
<form name='newUser' novalidate>

	<section name="account">
		<h2 class="section-title">account</h2>
		<div class="group-title">Login</div>
		<div class='item'>
			<label>Username
				<input type='text' ng-model='user.username' name='username' placeholder='Login' required />
			</label>
		</div>

		<div class='item'>
			<label>Password
				<input type='password' class='pword' ng-model='user.password' name='password' placeholder='Password' required />
			</label>
		</div>

		<div class='item'>
			<label>Confirm Password
				<input type='password' class="pword" ng-model='user.confirm' name='password' placeholder='Confrim Password' required />
			</label>
		</div>

		<div class="group-title">Name</div>
		<div class='item'>
			<label>First Name
				<input type='text' ng-model='user.firstName' name='firstName' placeholder='First' />
			</label>
		</div>

		<div class='item'>
			<label>Last Name
				<input type='text' ng-model='user.lastName' name='lastName' placeholder='Last' />
			</label>
		</div>

		<div class="group-title">Email</div>
		<div class='item'>
			<label>Email
				<input type='email' ng-model='user.email' name='email' placeholder='email' required />
			</label>
		</div>

		<div class="group-title">Picture</div>
		<div class='item'>
			<label>Upload Picture
				<input type='file' ng-model='user.picture' name='picture' required />
			</label>
		</div>
	</section>

	<section name="profile">
		<h2 class="section-title">profile</h2>
		<div class="group-title">Fitness Profile - Weight</div>
		<div class='item'>
			<label>Current Wight
				<input type='number' ng-model='user.currentWeight' name='currentWeight' placeholder="lbs" min="50" max="500" required />
			</label>
		</div>

		<div class='item'>
			<label>Goal Weight
				<input type='number' ng-model='user.goalWeight' name='goalWeight' placeholder="lbs" min="50" max="500" required />
			</label>
		</div>

		<div class='item'>
			<label>Current Waist Size
				<input type='number' ng-model='user.waistSize' min="0" max="100" name='waistSize' />
			</label>
		</div>

		<div class='item'>
			<label>BMI
				<input type='input' ng-model='user.bmi' name='bmi' required disabled/>
			</label>
		</div>

		<div class="group-title">Fitness Profile</div>
		<!--
		<div class='item'>
			<label>Units
				<input type='input' ng-model='user.unitMeasurement' name='unitMeasurement' placeholder='Standard U.S.' required />
			</label>
		</div>
		-->

		<div class='item'>
			<label>Height
				<input type='number' ng-model='user.heightFeet' name='heightFeet' min="3" max="10" placeholder="feet" required />
			</label>
			<label>Inches
				<input type='number' ng-model='user.heightInches' name='heightInches' min="0" max="11" placeholder="inches" required />
			</label>
		</div>

		<div class='item'>
			<label>Gender
				<select ng-model="user.gender" name='gender' required>
					<option value='m'>Male</option>
					<option value='f'>Female</option>
				</select>
			</label>
		</div>

		<div class='item'>
			<label>Birthdate
				<input type='input' class="birthday" ng-model='user.birthday' name='gender' placeholder='MM/DD/YYYY' required/>
			</label>
		</div>

		<div class="group-title">Faith</div>
		<div class='item'>
			<label>Faith
				 <div star-rating rating-value="user.faith" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
			</label>
		</div>

		<div class="group-title">Focus</div>
		<div class='item'>
			<label>Focus
				<div star-rating rating-value="user.focus" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
			</label>
		</div>

		<div class='item'>
			<label>Energy
				<div star-rating rating-value="user.energy" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
			</label>
		</div>

		<div class="group-title">Focus - Sleep</div>
		<div class='item'>
			<label>Hours Sleep</label>
				<span>{{user.sleep}}</span>
				<button ng-click="minus('sleep')">-</button>
				<button ng-click="add('sleep')">+</button>
			
		</div>

		<div class="group-title">Food Servings Per Day</div>
		<div class='item'>
			<label>Fruit</label>
				<span>{{user.fruit}}</span>
				<button ng-click="minus('fruit')">-</button>
				<button ng-click="add('fruit')">+</button>
			
		</div>

		<div class='item'>
			<label>Lean Protein</label>
				<span>{{user.leanProtein}}</span>
				<button ng-click="minus('leanProtein')">-</button>
				<button ng-click="add('leanProtein')">+</button>
			
		</div>

		<div class='item'>
			<label>Whole Grains</label>
				<span>{{user.wholeGrains}}</span>
				<button ng-click="minus('wholeGrains')">-</button>
				<button ng-click="add('wholeGrains')">+</button>
			
		</div>
		<div class="group-title">Hours Exercise Days Per Week</div>
		<div class='item'>
			<label>Aerobic</label>
				<span>{{user.aerobic}}</span>
				<button ng-click="minus('aerobic')">-</button>
				<button ng-click="add('aerobic')">+</button>
			
		</div>

		<div class='item'>
			<label>Strength</label>
				<span>{{user.strength}}</span>
				<button ng-click="minus('strength')">-</button>
				<button ng-click="add('strength')">+</button>
			
		</div>


	</section>

	

	<button name='create-user' ng-click="createUser()">Create User</button>


</form>



